body {
    display: flex;
    margin: 0;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 2rem;
    color: var(---text);
    background-image: var(---background);
}
#page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#card {
    width: 90%;
    height: 90%;
    background-color: var(---card);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}
#title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.dark-theme {
    ---background: linear-gradient(to bottom right, rgb(33, 37, 36) , rgb(21, 43, 34));;
    ---text: #d4d4d4;
    ---card: rgba(20, 20, 20, 0.5);
}.light-theme {
    ---background: linear-gradient(to bottom right, rgba(160, 160, 160, 0.8) , rgba(245, 182, 182, 0.8));;
    ---text: #292929;
    ---card: rgba(255, 255, 255, 0.5);
}
#video {
    position: fixed;
    width: 90%;
    height: 90%;
    border-radius: 20px;
    z-index: -1;
    object-fit: cover;
  }  