* {
  font-family: 'Courier New', monospace;
  color: #f0fff8;
  text-shadow: 0 0 1px #80ffc0, 0 0 1px #00ff66, 0 0 5px #00ff66, 0 0 8px #00ff66;
}
body {
  margin: 0;
  background-color: rgb(3, 6, 3);
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}

#terminal {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
input {
  height: 25px;
  width: 100%;
  border: 0;
  padding-left: 8px;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
}
#input {
  display: flex;
  align-items: center;
  height: 25px;
  width: 90%;
  padding: 8px 0 0 8px;
}
#input::before {
  content: ">";
}
#github-link {
  font-weight: bold;
}
.output {
  padding: 8px 0 0 8px;
  margin: 0;
  font-size: 1rem;
}
pre {
  margin: 0 0 10px 0;
}

#site {
  display: none;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(8px);
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 88vw;
  height: 89vh;
  margin: 5vh 5vw;
  padding: 0.5vh 1vw;
  border-radius: 12px;
  outline: 1px rgba(255,255,255,0.05) solid;
}
#user {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255,255,255,0.02);
  outline: 1px rgba(255,255,255,0.12) solid;
  border-radius: 12px;
  backdrop-filter: blur(16px);
  gap: 10px;
  padding: 20px;
  text-align: center;
}
#user-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  height: 80px;
}
#user-bio {
  width: 260px;
  font-size: 0.9rem;
}
#globe {
  font-size: 1.5vh;
}
#github-container {
  display: block;
  height: 40vh;
  padding: 10px;
  overflow-y: scroll;
  background: rgba(255,255,255,0.02);
  border-radius: 8px;
  outline: 1px rgba(255,255,255,0.1) solid;
  backdrop-filter: blur(16px);
}
#github-card {
  background: rgba(255,255,255,0.03);
  padding: 10px 15px;
  border-radius: 8px;
  outline: 1px rgba(255,255,255,0.1) solid;
}
#projects {
  display: flex;
  align-self: center;
  justify-content: space-between;
  flex-direction: column;
  background: rgba(255,255,255,0.02);
  outline: 1px rgba(255,255,255,0.12) solid;
  width: 380px;
  height: 40vh;
  overflow: scroll;
  text-align: center;
  border-radius: 8px;
  backdrop-filter: blur(16px);
  gap: 20px;
  padding: 10px;
}
#spotify {
  border: 0;
  width: 400px;
  height: 151px;
  border-radius: 12px;
  margin-bottom: 5px;
  outline: 1px rgba(255,255,255,0.12) solid;
}
#card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 131px;
  background: rgba(255,255,255,0.02);
  outline: 1px rgba(255,255,255,0.12) solid;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  backdrop-filter: blur(16px);
}
#social {
  opacity: 0.5;
}
#social:hover {
  opacity: 1;
}
#card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

#exit-button {
  position: relative;
  background: rgba(255,255,255,0.05);
  font-size: 1.5rem;
  padding: 5px 15px;
  border: 0;
  right: -1vw;
  top: -0.5vh;
  border-radius: 0 12px 0 12px;
}
#exit-button:hover {
  background: rgba(255,255,255,0.1);
  outline: 1px rgba(255,255,255,0.15) solid;
}

@media (max-height: 550px) {
  #github-container {
    height: 30vh;
  }
  #projects {
    height: 30vh;
  }
  #user-info {
    height: 60px;
  }
  #user-image {
    height: 60px;
    width: 60px;
  }
  #card {
    height: 111px;
    margin: 0;
  }
  #spotify {
    height: 131px;
    margin: 0;
  }
  #globe {
    font-size: 1.05vh;
  }
  #user {
    justify-content: center;
  }
}
@media (max-height: 420px) {
  #github-container {
    display: none;
  }
  #projects {
    display: none;
  }
  #globe {
    display: none;
  }
  #user {
    padding: 10px;
    height: 111px;
  }
}
@media (max-width: 1340px) {
  #user {
    display: none;
  }
}
@media (max-width: 900px) {
  #mid-right {
    display: none;
  }
  #site {
    width: 86vw;
    height: 89vh;
    padding: 0.5vh 2vw;
  }
  #exit-button {
    right: -2vw;
  }
}
@media (max-width: 450px) {
  #user-bio {
    width: 55vw;
  }
  #card-bottom {
    justify-content: center;
  }
  #card {
    padding: 2.225vw;
  }
}
@media (max-width: 350px) {
  #user-bio {
    width: 45vw;
  }
}