@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Courier New', monospace;
  color: #f0fff8;
}
body {
  background-color: rgb(3,6,3);
  margin: 0;
}



#site {
  display: none;
}