* {
    font-family: 'Manrope', OCR A Std, monospace;
    color: #d4d4d4;
    font-weight: 400;
    text-decoration: none;
    margin: 0;
}
body {
    display: flex;
    margin: 0;
    font-size: 2rem;
    background-image: linear-gradient(to bottom right, rgba(28, 37, 35, 0.9) , rgba(24, 39, 33, 0.9));
}
#page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 94.5%;
    height: 90%;
    background-color: rgba(20, 20, 20, 0.5);;
    border-radius: 1.25rem;
    backdrop-filter: blur(40px);
    box-shadow: 10px 10px 12px rgba(0,0,0,0.25);
    border: 1px solid rgba(255,255,255,0.3);
}
#card-top {
    display:flex;
    justify-content: space-between;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#title {
    text-align: center;
    background-color: rgba(255,255,255,.05);
    border-radius: 1.25rem 0.25rem 0.25rem 0.25rem;
    padding: 0.5rem 1rem;
    transition: all .2s;
    position: relative;
    box-shadow: 1px 1px 1rem rgb(26 26 26 / 15%);
    margin: 1rem;
    animation: growAnimation ease-in-out 1s;
}
#video {
    position: fixed;
    width: 94.5%;
    height: 90%;
    border-radius: 1.25rem;
    z-index: -1;
    object-fit: cover;
} 
#button-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1rem;
    gap: 1rem;
} 
.button {
    font-size: 1.25rem;
    text-align: center;
    background-color: rgba(255,255,255,.1);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .3);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #7f8c92;  
}
#button3 {
    border-radius: 0.25rem 1.25rem 0.25rem 0.25rem;
}
#card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#message {
    font-size: 1rem;
    margin: 1rem;
    animation: messageAnimation ease-in-out 2s;
    animation-iteration-count: infinite;
}
#icon-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-right: 10px;
}
.icon {
    height: 35px;
    margin: 0.25rem;
    transition: transform .2s ease-out;
    transform: scale(1.01);
    opacity: 0.5;
}
.icon:hover {
    transform: scale(1.15);
    opacity: 1;
}
#card-middle {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    animation: sideAnimation ease-in-out 2s;
}
#github {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}
#github-card {
    display: block;
    height: 330px;
    overflow-y: scroll;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
}
#github-content {
    display: grid;
    grid-template-columns: 1fr;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    width: 400px;
    margin: 10px;
}
#github-iframe {
    width: 420px;
    height: 151px;
    border-radius: 10px;
    animation: sideAnimation ease-in-out 2.5s;
}
#github-box {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: rgba(255,255,255,.1);
    border-radius: 0.25rem;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .2);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
#github-box:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #7f8c92; 
}
.repo-item {
    font-size: 1rem;
    text-align: center;
    flex: 1;
}
#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: rgba(255,255,255,.1);
    border-radius: 0.25rem;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .3);
    margin-left: 1rem;
    overflow: hidden;
    padding: 1rem;
    width: 410px;
}
#user-name {
    font-size: 2rem;
    font-weight: bold;
}
#user-bio {
    text-align: center;
    font-weight: bold;
}
#user-quote {
    font-size: 0.8rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 5px;
}
#globeViz {
    transform-origin: center center;
    transform: scale(1.4);
}
.repo-info {
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.repo-meta {
    display: flex;
    justify-content: space-between;
}
#star-icon {
    width: 10px;
}
#device-small {
    display: none;
}
#js-message {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(46, 46, 46);
    text-align: center;
}
#projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    height: 491px;
    font-size: 1rem;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    align-items: center;
}
#project-title {
    width: 360px;
    height: 40px;
    text-align: center;
}
#project-desc {
    display: flex;
    width: 300px;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.project {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
    width: 380px;
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
}
#trademe {
    display: flex;
    flex-direction: row-reverse;
}
#project-image {
    margin: 10px;
    margin-bottom: 5px;
}
#project-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-top: 5px;
}
@media (max-width: 1440px) {
    #projects {
        display: none;
    }
}
@media (min-width: 1000px) {
    @media (max-height: 530px) {
        #page {
            display: none;
        }
        #device-small {
            display: block;
        }
    }
}
@media (max-height: 700px) {
    #globeViz {
        display: none;
    }
    #projects {
        display: none;
    }
    #github-iframe {
        display: none;
    }
}
@media (max-width: 990px) {
    #globeViz {
        display: none;
    }
    #user {
        margin: 0;
    }
    #github-iframe {
        display: none;
    }
    @media (max-height: 680px) {
        #github-card {
            display: none;
        }
        #github {
            display: none;
        }
        #card-middle {
            justify-content: center;
        }
    }
    @media (max-height: 300px) {
        #page {
            display: none;
        }
        #device-small {
            display: block;
        }
    }
}
@media (max-width: 720px) {
    #title {
        display: none;
    }
    #card-top {
        justify-content: space-evenly;
    }
    #button3 {
        border-radius: 0.25rem;
    }
    .button {
        width: 100px;
    }
}

@media (max-width: 560px) {
    #github-card {
        width: 370px;
    }
    #github-content {
        width: 350px;
    }
    #user {
        width: 340px;
    }
    #user-name {
        font-size: 1.75rem;
    }
    #user-bio {
        font-size: 0.8rem;
    }
    .button {
        width: 80px;
    }
    #card {
        height: 97%;
    }
}
@media (max-width: 470px) {
    #github-card {
        width: 330px;
    }
    #github-content {
        width: 310px;
    }
    #user {
        width: 300px;
    }
}
@media (max-width: 430px) {
    .button {
        width: auto;
    }
}
@media (max-width: 380px) {
    .icon {
        height: 25px;
    }
    #github-card {
        width: 280px;
    }
    #github-content {
        width: 260px;
    }
    #user {
        width: 250px;
    }
    .button {
        font-size: 1rem;
    }
    #user-name {
        font-size: 1.45rem;
    }
}
@media (max-width: 340px) {
    #message {
        font-size: 0.9rem;
    }
}
@media (max-width: 330px) {
    #page {
        display: none;
    }
    #device-small {
        display: block;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes growAnimation {
    0% {
        scale: 0.98;
    }
    100% {
        scale: 1;
    }
}
@keyframes messageAnimation {
    0% {
        opacity: 0.7;
        scale: 1;
    }
    50% {
        opacity: 1;
        scale: 0.97;
    }
    100% {
        opacity: 0.7;
        scale: 1;
    }
}
@keyframes sideAnimation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}